body {
    background-image: url("caves.jpg");
    background-size: cover;
    font-family: arial;
    font-style:italic;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    background-color: white;
    border-radius: 20px; 
    padding: 30px 10px 30px 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(55, 78, 33);
    border-radius: 20px;
}

#increment-btn:hover{
    box-shadow: 0 0 20px rgb(34, 69, 2);
}

#increment-btn:onclick{
    background: rgb(61, 121, 5);
}

#save-btn {
    background: rgb(122, 24, 78);
    border-radius: 20px;
}

#save-btn:hover{
    box-shadow: 0 0 20px rgb(91, 5, 52);
}

